# Project Title: Uber Rides and weather

### Team: Pablo Crespo, Victoria Wise, Trushil Patel, Steve Moss (Group 5)

## Project Description: 

#    - If weather plays an impact on Uber Rides in New York 
    
### Research Questions: 

1)  What are some findings on the commuter habits   

2)  Does weather impact on number of Uber Rides request  

3)  Time of the day that has the most Uber Rides request 

4)  Time of the week that has the most Uber Rides reques

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import scipy.stats as st

# Import API key??

## Data compilation

In [2]:
# Read in CSV files  and Create dataframe(s)
# airport_df = pd.read_csv('../Resources/Airport_Output.csv')
# Find and reference Input csv File from Weather folder
City_Attrib = "Weather/city_attributes.csv"
City_Hum = "Weather/humidity.csv"
City_Temp = "Weather/temperature.csv"
City_Wdesc = "Weather/weather_description.csv"
City_WinSpe = "Weather/wind_speed.csv"


# create dataframe
City_Attrib_df = pd.read_csv(City_Attrib)
City_Hum_df = pd.read_csv(City_Hum)
City_Temp_df = pd.read_csv(City_Temp)
City_Wdesc_df = pd.read_csv(City_Wdesc)
City_WinSpe_df = pd.read_csv(City_WinSpe)
City_Temp_df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,1/10/2012 12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
1,1/10/2012 13:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2,1/10/2012 14:00,284.629041,282.083252,289.474993,281.797217,291.868185,291.533501,293.403141,296.608509,285.154558,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
3,1/10/2012 15:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,285.756824,288.326940,285.847789,287.231672,307.391513,304.281841,310.411539,304.4,304.4,303.5
4,1/10/2012 16:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [3]:
# Just selecting data for NY
NY_Temp_df=pd.DataFrame(City_Temp_df, columns=["datetime","New York"])
NY_Temp_df

               datetime    New York
0       1/10/2012 12:00         NaN
1       1/10/2012 13:00  288.220000
2       1/10/2012 14:00  288.247676
3       1/10/2012 15:00  288.326940
4       1/10/2012 16:00  288.406203
...                 ...         ...
45248  29/11/2017 20:00         NaN
45249  29/11/2017 21:00         NaN
45250  29/11/2017 22:00         NaN
45251  29/11/2017 23:00         NaN
45252   30/11/2017 0:00         NaN

[45253 rows x 2 columns]

In [4]:
NY_Temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  45253 non-null  object
 1   New York  44460 non-null  float64
dtypes: float64(1), object(1)
memory usage: 707.2+ KB

In [ ]:
# Breaks down here - just selecting time period of interest

In [ ]:
NY_TempDate=NY_Temp_df.loc[(NY_Temp_df["datetime"]>= 4/1/2014) &
                           (NY_Temp_df["datetime"]< 8/30/2015)
                          ]
NY_TempDate

In [34]:
# Find and reference Input csv File from Uber folder

# P: List of files to read
files_name = [
    "other-American_B01362",
    "other-Carmel_B00256",
    "other-Diplo_B01196",
    "other-Federal_02216",
    "other-Firstclass_B01536",
    "other-Highclass_B01717",
    "other-Prestige_B01338",
    "other-Skyline_B00111"    
]

# P: Shortcut name to refer to each file
key_name = [
    "American",
    "Carmel",
    "Diplo",
    "Federal",
    "Firstclass",
    "Highclass",
    "Prestige",
    "Skyline"    
]

# P: The 9 files will be saved in 1 dictionary (uber_dict). The key for each file will be the shortcut name saved in
#    in the list 'key_name'. Example: To display the data frame of the file "other-Firstclass_B01536.csv" type:
#    uber_dict["Firstclass"]

uber_dict = {}

for index, file in enumerate(files_name):
    
    file_path = f"Uber_Rides_Rawdata/Uber/{file}.csv"

# P: I found that the files have different encoder so I had to use the try-except functions.
    try:
        uber_dict[key_name[index]] = pd.read_csv(file_path, encoding = "utf-8")
        print(f"GOOD | FILE: {file} | ENCODING: utf-8")
    except UnicodeDecodeError:
        try:
            uber_dict[key_name[index]] = pd.read_csv(file_path, encoding = "cp1252")
            print(f"GOOD | FILE: {file} | ENCODING: cp1252")
        except:
            print("ERROR")

GOOD | FILE: other-American_B01362 | ENCODING: utf-8
GOOD | FILE: other-Carmel_B00256 | ENCODING: cp1252
GOOD | FILE: other-Diplo_B01196 | ENCODING: cp1252
GOOD | FILE: other-Federal_02216 | ENCODING: utf-8
GOOD | FILE: other-Firstclass_B01536 | ENCODING: cp1252
GOOD | FILE: other-Highclass_B01717 | ENCODING: cp1252
GOOD | FILE: other-Prestige_B01338 | ENCODING: cp1252
GOOD | FILE: other-Skyline_B00111 | ENCODING: utf-8

In [40]:
# P: Loop to access each data frame

for key in uber_dict:
    print(uber_dict[key])

            DATE         TIME                       PICK UP ADDRESS  \
0       7/1/2014  12:00:00 AM         874 E 139th St Mott Haven, BX
1       7/1/2014  12:01:00 AM         628 E 141st St Mott Haven, BX
2       7/1/2014  12:01:00 AM        601 E 156th St South Bronx, BX
3       7/1/2014  12:01:00 AM         708 E 138th St Mott Haven, BX
4       7/1/2014  12:02:00 AM         700 E 140th St Mott Haven, BX
...          ...          ...                                   ...
91707  9/30/2014  11:47:00 PM            593 Oak Ter Mott Haven, BX
91708  9/30/2014  11:48:00 PM   645 Westchester Ave South Bronx, BX
91709  9/30/2014  11:51:00 PM        625 Tinton Ave South Bronx, BX
91710  9/30/2014  11:54:00 PM     350 Saint Anns Ave Mott Haven, BX
91711  9/30/2014  11:58:00 PM         846 Tinton Ave Morrisania, BX

       Unnamed: 3  Unnamed: 4  Unnamed: 5
0             NaN         NaN         NaN
1             NaN         NaN         NaN
2             NaN         NaN         NaN
3             NaN         NaN         NaN
4             NaN         NaN         NaN
...           ...         ...         ...
91707         NaN         NaN         NaN
91708         NaN         NaN         NaN
91709         NaN         NaN         NaN
91710         NaN         NaN         NaN
91711         NaN         NaN         NaN

[91712 rows x 6 columns]
             Date   Time        PU_Adress Base_No
0        7/1/2014   0:00  260 W 44 St NYC  B00256
1        7/1/2014   0:00  125 W 29 St Nyc  B00256
2        7/1/2014   0:00  141 W 28 St Nyc  B00256
3        7/1/2014   0:01              EWR  B00256
4        7/1/2014   0:07              JFK  B00256
...           ...    ...              ...     ...
256514  9/30/2014  23:53              JFK  B00256
256515  9/30/2014  23:55   5 Allen St Nyc  B00256
256516  9/30/2014  23:56              JFK  B00256
256517  9/30/2014  23:58              EWR  B00256
256518  9/30/2014  23:59              JFK  B00256

[256519 rows x 4 columns]
            Date         Time                            PU_Address
0     2014-07-01  12:00:00 AM        2396 Valentine Ave Fordham, BX
1     2014-07-01  12:01:00 AM    1859 Walton Ave Morris Heights, BX
2     2014-07-01  12:02:00 AM            2431 Jerome Ave Jerome, BX
3     2014-07-01  12:05:00 AM        3044 Valentine Ave Fordham, BX
4     2014-07-01  12:05:00 AM       1085 Nelson Ave High Bridge, BX
...          ...          ...                                   ...
98545 2014-09-30  11:54:00 PM              2847 Webb Ave Jerome, BX
98546 2014-09-30  11:56:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX
98547 2014-09-30  11:57:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX
98548 2014-09-30  11:57:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX
98549 2014-09-30  11:58:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX

[98550 rows x 3 columns]
           Date      Time                                       PU_Address  \
0    07/01/2014  07:15 AM       Brooklyn Museum, 200 Eastern Pkwy., BK NY;
1    07/01/2014  07:30 AM                   33 Robert Dr., Short Hills NJ;
2    07/01/2014  08:00 AM                         60 Glenmore Ave., BK NY;
3    07/01/2014  09:00 AM                          128 East 31 St., BK NY;
4    07/01/2014  09:30 AM                     139-39 35 Ave., Flushing NY;
..          ...       ...                                              ...
271  09/25/2014  12:00 PM  907 59 St., BK NY; ST: W66 St./Broadway, NY NY;
272  09/26/2014  04:00 PM                              20 West St., NY NY;
273  09/27/2014  05:00 AM                       474 Sackett Street, BK NY;
274  09/27/2014  08:00 AM                       474 Sackett Street, BK NY;
275  09/28/2014  09:00 PM                               152 7 Ave., BK NY;

                                            DO_Address  \
0                           1 Brookdale Plaza, BK NY;
1    John F Kennedy International Airport, vitona A...
2                          2171 Nostrand Ave., BK NY;
3                                369 93rd St., BK NY;
4                                 La Guardia Airport;
..                                                 ...
271             John F Kennedy International Airport;
272                               La Guardia Airport;
273  John F Kennedy International Airport, Virgin A...
274  Newark Liberty International Airport, Virgin A...
275                           Grand Central Station ;

                                       Routing Details  \
0    PU: Brooklyn Museum, 200 Eastern Pkwy., BK NY;...
1    PU: 33 Robert Dr., Short Hills NJ; DO: John F ...
2    PU: 60 Glenmore Ave., BK NY; DO: 2171 Nostrand...
3    PU: 128 East 31 St., BK NY; DO: 369 93rd St., ...
4    PU: 139-39 35 Ave., Flushing NY; DO: La Guardi...
..                                                 ...
271  PU: 907 59 St., BK NY; ST: W66 St./Broadway, N...
272   PU: 20 West St., NY NY; DO: La Guardia Airport;
273  PU: 474 Sackett Street, BK NY; DO: John F Kenn...
274  PU: 474 Sackett Street, BK NY; DO: Newark Libe...
275  PU: 152 7 Ave., BK NY; DO: Grand Central Stati...

                                          PU_Address.1     Status
0    Brooklyn Museum, 200 Eastern Pkwy., BK NY; DO:...  Cancelled
1    33 Robert Dr., Short Hills NJ; DO: John F Kenn...    Arrived
2    60 Glenmore Ave., BK NY; DO: 2171 Nostrand Ave...   Assigned
3    128 East 31 St., BK NY; DO: 369 93rd St., BK NY;    Assigned
4    139-39 35 Ave., Flushing NY; DO: La Guardia Ai...   Assigned
..                                                 ...        ...
271  907 59 St., BK NY; ST: W66 St./Broadway, NY NY...    Arrived
272       20 West St., NY NY; DO: La Guardia Airport;    Assigned
273  474 Sackett Street, BK NY; DO: John F Kennedy ...    Arrived
274  474 Sackett Street, BK NY; DO: Newark Liberty ...    Arrived
275    152 7 Ave., BK NY; DO: Grand Central Station ;    Assigned

[276 rows x 7 columns]
             DATE         TIME  \
0        7/1/2014  12:02:00 AM
1        7/1/2014  12:02:00 AM
2        7/1/2014  12:03:00 AM
3        7/1/2014  12:07:00 AM
4        7/1/2014  12:08:00 AM
...           ...          ...
166764  9/30/2014  11:52:00 PM
166765  9/30/2014  11:53:00 PM
166766  9/30/2014  11:56:00 PM
166767  9/30/2014  11:58:00 PM
166768  9/30/2014  11:59:00 PM

                                          PICK UP ADDRESS
0                           5360 Broadway Kingsbridge, BX
1                                        546 Isham St NYC
2                                   234 Bradhurst Ave NYC
3                                99 Marble Hill Ave Bronx
4                                   120 Vermilyea Ave NYC
...                                                   ...
166764  LINCOLN HOSPITAL MAIN 234 E 149th St Cortlandt...
166765                           la bodega 2051 8 Ave NYC
166766                     hess gas station  nw 9 Ave NYC
166767        stop & shop supermarket 5716 Broadway Bronx
166768                        579 Fort Washington Ave NYC

[166769 rows x 3 columns]
             DATE         TIME                            PU_Address
0        7/1/2014  12:00:00 AM           2976 Marion Ave Fordham, BX
1        7/1/2014  12:01:00 AM     780 Grand Concourse Cortlandt, BX
2        7/1/2014  12:01:00 AM         105 Elliot Pl High Bridge, BX
3        7/1/2014  12:03:00 AM                   2825 Webb Ave Bronx
4        7/1/2014  12:04:00 AM     1878 Cedar Ave Morris Heights, BX
...           ...          ...                                   ...
151920  9/30/2014  11:54:00 PM     2247 Grand Ave Morris Heights, BX
151921  9/30/2014  11:55:00 PM                  320 Morris Ave Bronx
151922  9/30/2014  11:55:00 PM   3105 Decatur Ave Williamsbridge, BX
151923  9/30/2014  11:58:00 PM       2125 Cruger Ave Parkchester, BX
151924  9/30/2014  11:58:00 PM    2401 Cruger Ave Williamsbridge, BX

[151925 rows x 3 columns]
             DATE         TIME  \
0        7/1/2014  12:00:00 AM
1        7/1/2014  12:00:00 AM
2        7/1/2014  12:00:00 AM
3        7/1/2014  12:02:00 AM
4        7/1/2014  12:02:00 AM
...           ...          ...
320636  9/30/2014  11:59:00 PM
320637  9/30/2014  11:59:00 PM
320638  9/30/2014  11:59:00 PM
320639  9/30/2014  11:59:00 PM
320640  9/30/2014  11:59:00 PM

                                          PICK UP ADDRESS
0                             2557 Marion Ave Fordham, BX
1                  45 E Mosholu Pkwy N Williamsbridge, BX
2                           458 E 143rd St Mott Haven, BX
3                 MINIVAN SUV 2557 Marion Ave Fordham, BX
4                       1117 Westchester Ave Foxhurst, BX
...                                                   ...
320636              2420 Williamsbridge Rd Baychester, BX
320637  2260 Washington Avenue, Bronx, NY, United  226...
320638                   1009 Sackett Ave Parkchester, BX
320639                          3163 Villa Ave Jerome, BX
320640  1457 Pelham Pkwy N, Bronx, NY 10469 1457 Pelha...

[320641 rows x 3 columns]
             Date            Time                   Street_Address   \
0        7/1/2014      20:27           622 THIRD AV
1        7/1/2014      21:04            E 77TH ST
2        7/1/2014      22:20           67 WEST PALISADES BLVD
3        7/1/2014      12:28           130 MIDDLE NECK RD
4        7/1/2014      16:45           36 E 31ST ST
...           ...             ...                               ...
127691  9/29/2014      13:15           370 7th AVE
127692  9/29/2014      15:40           1 STATE ST PZ
127693  9/29/2014      20:07           730 5TH AVE
127694  9/29/2014      22:48           30 ROCKEFELLER PZ
127695  9/29/2014      16:00           904 LEXINGTON AV

                          City_State   Unnamed: 4  Unnamed: 5
0            M                                NaN         NaN
1            M                                NaN         NaN
2           PALISADES PARK NJ                 NaN         NaN
3           SANDS POINT LI                    NaN         NaN
4            M                                NaN         NaN
...                               ...         ...         ...
127691       M                                NaN         NaN
127692       M                                NaN         NaN
127693       M                                NaN         NaN
127694       M                                NaN         NaN
127695       M                                NaN         NaN

[127696 rows x 6 columns]

In [41]:
# P: To display only one data frame
uber_dict["American"]

,DATE,TIME,PICK UP ADDRESS,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,7/1/2014,12:00:00 AM,"874 E 139th St Mott Haven, BX",NaN,NaN,NaN
1,7/1/2014,12:01:00 AM,"628 E 141st St Mott Haven, BX",NaN,NaN,NaN
2,7/1/2014,12:01:00 AM,"601 E 156th St South Bronx, BX",NaN,NaN,NaN
3,7/1/2014,12:01:00 AM,"708 E 138th St Mott Haven, BX",NaN,NaN,NaN
4,7/1/2014,12:02:00 AM,"700 E 140th St Mott Haven, BX",NaN,NaN,NaN
...,...,...,...,...,...,...
91707,9/30/2014,11:47:00 PM,"593 Oak Ter Mott Haven, BX",NaN,NaN,NaN
91708,9/30/2014,11:48:00 PM,"645 Westchester Ave South Bronx, BX",NaN,NaN,NaN
91709,9/30/2014,11:51:00 PM,"625 Tinton Ave South Bronx, BX",NaN,NaN,NaN
91710,9/30/2014,11:54:00 PM,"350 Saint Anns Ave Mott Haven, BX",NaN,NaN,NaN
91711,9/30/2014,11:58:00 PM,"846 Tinton Ave Morrisania, BX",NaN,NaN,NaN

In [38]:
# P: Method to datetime format the column date
uber_dict["Diplo"]["Date"] = pd.to_datetime(uber_dict["Diplo"]["Date"])

# P: Grouping by Date (only the data frane "Diplo")
uber_dict["Diplo"].groupby("Date").count()

            Time  PU_Address
Date
2014-07-01  1046        1046
2014-07-02  1275        1275
2014-07-03  1200        1200
2014-07-04  1171        1171
2014-07-05  1371        1371
...          ...         ...
2014-09-26  1055        1055
2014-09-27  1301        1301
2014-09-28  1260        1260
2014-09-29   972         972
2014-09-30  1017        1017

[92 rows x 2 columns]

In [ ]:
# Perform API Calls???? Find an API to call?

In [ ]:
# Review data sets
# Identify columns to keep
# Identify column/columns to merge on

## Data Cleaning

In [ ]:
# Delete unwanted columns
# any null values/duplicates
# Split date and time - investigate split methods
# convert kelvin to centigrade
# binning weather description
# any formatting / ensure numbers are stored as integers

In [ ]:
# Merge data sets

In [ ]:
# Create dataframes for analysis

## Data analysis
Plotting the Data.

Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
Save the plotted figures as .pngs.

##### Review matlibplot for other more funky styles of graphs other than pie- bar- and scatter????

These are just suggestions below:

In [ ]:
# rides vs time/date

# Template for scatter plot below

x_values = xxxx_df['date']
y_values = xxxxx_df['rides'].value_counts()
plt.scatter(x_values,y_values, 
            s=50,
            marker="D",
            color="fuchsia", 
            edgecolors="black")

plt.xlabel('date')
plt.ylabel('time')
# plt.ylim(xx, xx)
# plt.xlim(-xx,xx)
plt.grid(which='major', linestyle='-')
plt.grid(which='minor', linestyle=':')
plt.title("Number of rides vs date")
plt.xlabel("date")
plt.ylabel("Number of rides")
plt.show()

In [ ]:
# template for bar chart below
# Set the X axis for the bar chart
x_axis = xxxxx_df["Date"].value_counts().index
# Set the Y axis for bar chart
y_axis =xxxx_df["rides"].value_counts()
plt.bar(x_axis,y_axis, color=(0.15, 0.15, 1.0, 1.0),  edgecolor='black')
plt.xlabel("date")
plt.ylabel("Number of rides")
plt.title("Number of rides vs date")
plt.xticks(x_axis, rotation=90)
plt.show()

In [ ]:
# rides vs time of day

In [ ]:
# rides vs day in week

In [ ]:
# rides on weekdays vs weekends

In [ ]:
# any other plots of the uber data

In [ ]:
# plots of the weather data

In [ ]:
# temp vs time/date

In [ ]:
# humidity vs time/date

In [ ]:
# temperature and hunidity vs time of day

In [ ]:
# correlation of temp & humidity

In [ ]:
# Temp vs rides

In [ ]:
# humidity vs rides

In [ ]:
# weather description vs uber rides

# Conclusions and observations