# Project Title: Uber Rides and weather

### Team: Pablo Crespo, Victoria Wise, Trushil Patel, Steve Moss (Group 5)

## Project Description: 

#    - If weather plays an impact on Uber Rides in New York 
    
### Research Questions: 

1)  What are some findings on the commuter habits   

2)  Does weather impact on number of Uber Rides request  

3)  Time of the day that has the most Uber Rides request 

4)  Time of the week that has the most Uber Rides reques

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import scipy.stats as st

# Import API key??

## Data compilation

In [2]:
# Read in CSV files  and Create dataframe(s)
# airport_df = pd.read_csv('../Resources/Airport_Output.csv')
# Find and reference Input csv File from Weather folder
# City_Attrib = "Weather/city_attributes.csv"
# City_Hum = "Weather/humidity.csv"
# City_Temp = "Weather/temperature.csv"
# City_Wdesc = "Weather/weather_description.csv"
# City_WinSpe = "Weather/wind_speed.csv"


# create dataframe
# City_Attrib_df = pd.read_csv(City_Attrib)
# City_Hum_df = pd.read_csv(City_Hum)
# City_Temp_df = pd.read_csv(City_Temp)
# City_Wdesc_df = pd.read_csv(City_Wdesc)
# City_WinSpe_df = pd.read_csv(City_WinSpe)
# City_Temp_df.head()

In [3]:
# Just selecting data for NY
# NY_Temp_df=pd.DataFrame(City_Temp_df, columns=["datetime","New York"])
# NY_Temp_df

In [4]:
# NY_Temp_df.info()

In [5]:
# Breaks down here - just selecting time period of interest

In [6]:
# NY_TempDate=NY_Temp_df.loc[(NY_Temp_df["datetime"]>= 4/1/2014) &
#                            (NY_Temp_df["datetime"]< 8/30/2015)
#                           ]
# NY_TempDate

In [7]:
# Find and reference Input csv File from Uber folder

# P: List of files to read
files_name = [
    "other-American_B01362",
    "other-Carmel_B00256",
    "other-Diplo_B01196",
    "other-Federal_02216",
    "other-Firstclass_B01536",
    "other-Highclass_B01717",
    "other-Prestige_B01338",
    "other-Skyline_B00111"    
]

# P: Shortcut name to refer to each file
key_name = [
    "American",
    "Carmel",
    "Diplo",
    "Federal",
    "Firstclass",
    "Highclass",
    "Prestige",
    "Skyline"    
]

# P: The 9 files will be saved in 1 dictionary (uber_dict). The key for each file will be the shortcut name saved in
#    in the list 'key_name'. Example: To display the data frame of the file "other-Firstclass_B01536.csv" type:
#    uber_dict["Firstclass"]

uber_dict = {}

for index, file in enumerate(files_name):
    
    file_path = f"Uber_Rides_Rawdata/Uber/{file}.csv"

# P: I found that the files have different encoder so I had to use the try-except functions.
    try:
        uber_dict[key_name[index]] = pd.read_csv(file_path, encoding = "utf-8")
        print(f"GOOD | FILE: {file} | ENCODING: utf-8")
    except UnicodeDecodeError:
        try:
            uber_dict[key_name[index]] = pd.read_csv(file_path, encoding = "cp1252")
            print(f"GOOD | FILE: {file} | ENCODING: cp1252")
        except:
            print("ERROR")

GOOD | FILE: other-American_B01362 | ENCODING: utf-8
GOOD | FILE: other-Carmel_B00256 | ENCODING: cp1252
GOOD | FILE: other-Diplo_B01196 | ENCODING: cp1252
GOOD | FILE: other-Federal_02216 | ENCODING: utf-8
GOOD | FILE: other-Firstclass_B01536 | ENCODING: cp1252
GOOD | FILE: other-Highclass_B01717 | ENCODING: cp1252
GOOD | FILE: other-Prestige_B01338 | ENCODING: cp1252
GOOD | FILE: other-Skyline_B00111 | ENCODING: utf-8

In [8]:
print("Columns before cleaning\n")
for key in uber_dict:
    for index, column in enumerate(uber_dict[key]):
        print(key, index, column)
    
column_date = "DATE"
column_time = "TIME"
column_pickup = "PU_ADDRESS"


for key in uber_dict:
    for index, column in enumerate(uber_dict[key]):
        if index == 0:
            uber_dict[key] = uber_dict[key].rename(columns = {column: column_date})
        elif index == 1:
            uber_dict[key] = uber_dict[key].rename(columns = {column: column_time})
        elif index == 2:
            uber_dict[key] = uber_dict[key].rename(columns = {column: column_pickup})
            
    uber_dict[key] = uber_dict[key][[column_date, column_time, column_pickup]]
    uber_dict[key][column_date] = pd.to_datetime(uber_dict[key][column_date])
    
print("\n\nColumns after cleaning\n")
for key in uber_dict:
    for index, column in enumerate(uber_dict[key]):
        print(key, index, column)

Columns before cleaning

American 0 DATE
American 1 TIME
American 2 PICK UP ADDRESS
American 3 Unnamed: 3
American 4 Unnamed: 4
American 5 Unnamed: 5
Carmel 0 Date
Carmel 1 Time
Carmel 2 PU_Adress
Carmel 3 Base_No
Diplo 0 Date
Diplo 1 Time
Diplo 2 PU_Address
Federal 0 Date
Federal 1 Time
Federal 2 PU_Address
Federal 3 DO_Address
Federal 4 Routing Details
Federal 5 PU_Address.1
Federal 6 Status
Firstclass 0 DATE
Firstclass 1 TIME
Firstclass 2 PICK UP ADDRESS
Highclass 0 DATE
Highclass 1 TIME
Highclass 2 PU_Address
Prestige 0 DATE
Prestige 1 TIME
Prestige 2 PICK UP ADDRESS
Skyline 0 Date
Skyline 1 Time
Skyline 2     Street_Address
Skyline 3     City_State
Skyline 4 Unnamed: 4
Skyline 5 Unnamed: 5


Columns after cleaning

American 0 DATE
American 1 TIME
American 2 PU_ADDRESS
Carmel 0 DATE
Carmel 1 TIME
Carmel 2 PU_ADDRESS
Diplo 0 DATE
Diplo 1 TIME
Diplo 2 PU_ADDRESS
Federal 0 DATE
Federal 1 TIME
Federal 2 PU_ADDRESS
Firstclass 0 DATE
Firstclass 1 TIME
Firstclass 2 PU_ADDRESS
Highclass 0 DATE
Highclass 1 TIME
Highclass 2 PU_ADDRESS
Prestige 0 DATE
Prestige 1 TIME
Prestige 2 PU_ADDRESS
Skyline 0 DATE
Skyline 1 TIME
Skyline 2 PU_ADDRESS

In [9]:
for index, key in enumerate(uber_dict):
    if index == 0:
        
        merged_df = uber_dict[key].groupby(column_date).count().copy().reset_index()
    else:
#         pass
        merged_df = merged_df.merge(uber_dict[key].groupby(column_date).count().reset_index(), on = column_date, how = "outer", suffixes = (f"_{key_name[index-1]}", f"_{key_name[index]}"))

In [35]:
# merged_df = merged_df.set_index(column_date)
for column in merged_df:
    for value in key_name:
        if column == f"{column_pickup}_{value}":
            merged_df = merged_df.drop(column, axis = 1)
        elif column == f"{column_time}_{value}":
            merged_df = merged_df.rename(columns = {column: f"count_{value}"})
            

merged_df = merged_df.fillna(0)
merged_df["count_Federal"] = merged_df["count_Federal"].astype(int)
merged_df

,DATE,count_American,count_Carmel,count_Diplo,count_Federal,count_Firstclass,count_Highclass,count_Prestige,count_Skyline
0,2014-07-01,921,2871,1046,11,1744,1368,3345,1668
1,2014-07-02,1028,2965,1275,4,2228,1661,3533,1691
2,2014-07-03,1068,3361,1200,12,2121,1599,3649,1157
3,2014-07-04,1008,2174,1171,8,1459,1622,3401,337
4,2014-07-05,1214,1846,1371,3,1703,1898,4081,276
...,...,...,...,...,...,...,...,...,...
87,2014-09-26,1101,2816,1055,1,1934,1801,3598,1477
88,2014-09-27,1291,2240,1301,2,1917,2072,4297,561
89,2014-09-28,1080,2559,1260,1,1831,2032,3985,633
90,2014-09-29,772,3225,972,0,1868,1558,3215,1846
91,2014-09-30,848,2824,1017,0,1789,1527,3137,2063

In [11]:
# merged_df[merged_df["count_Federal"].isna()]

In [12]:
# P: Loop to access each data frame

for key in uber_dict:
    print(uber_dict[key])

            DATE         TIME                            PU_ADDRESS
0     2014-07-01  12:00:00 AM         874 E 139th St Mott Haven, BX
1     2014-07-01  12:01:00 AM         628 E 141st St Mott Haven, BX
2     2014-07-01  12:01:00 AM        601 E 156th St South Bronx, BX
3     2014-07-01  12:01:00 AM         708 E 138th St Mott Haven, BX
4     2014-07-01  12:02:00 AM         700 E 140th St Mott Haven, BX
...          ...          ...                                   ...
91707 2014-09-30  11:47:00 PM            593 Oak Ter Mott Haven, BX
91708 2014-09-30  11:48:00 PM   645 Westchester Ave South Bronx, BX
91709 2014-09-30  11:51:00 PM        625 Tinton Ave South Bronx, BX
91710 2014-09-30  11:54:00 PM     350 Saint Anns Ave Mott Haven, BX
91711 2014-09-30  11:58:00 PM         846 Tinton Ave Morrisania, BX

[91712 rows x 3 columns]
             DATE   TIME       PU_ADDRESS
0      2014-07-01   0:00  260 W 44 St NYC
1      2014-07-01   0:00  125 W 29 St Nyc
2      2014-07-01   0:00  141 W 28 St Nyc
3      2014-07-01   0:01              EWR
4      2014-07-01   0:07              JFK
...           ...    ...              ...
256514 2014-09-30  23:53              JFK
256515 2014-09-30  23:55   5 Allen St Nyc
256516 2014-09-30  23:56              JFK
256517 2014-09-30  23:58              EWR
256518 2014-09-30  23:59              JFK

[256519 rows x 3 columns]
            DATE         TIME                            PU_ADDRESS
0     2014-07-01  12:00:00 AM        2396 Valentine Ave Fordham, BX
1     2014-07-01  12:01:00 AM    1859 Walton Ave Morris Heights, BX
2     2014-07-01  12:02:00 AM            2431 Jerome Ave Jerome, BX
3     2014-07-01  12:05:00 AM        3044 Valentine Ave Fordham, BX
4     2014-07-01  12:05:00 AM       1085 Nelson Ave High Bridge, BX
...          ...          ...                                   ...
98545 2014-09-30  11:54:00 PM              2847 Webb Ave Jerome, BX
98546 2014-09-30  11:56:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX
98547 2014-09-30  11:57:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX
98548 2014-09-30  11:57:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX
98549 2014-09-30  11:58:00 PM  *-BASE-* 170 W Fordham Rd Jerome, BX

[98550 rows x 3 columns]
          DATE      TIME                                       PU_ADDRESS
0   2014-07-01  07:15 AM       Brooklyn Museum, 200 Eastern Pkwy., BK NY;
1   2014-07-01  07:30 AM                   33 Robert Dr., Short Hills NJ;
2   2014-07-01  08:00 AM                         60 Glenmore Ave., BK NY;
3   2014-07-01  09:00 AM                          128 East 31 St., BK NY;
4   2014-07-01  09:30 AM                     139-39 35 Ave., Flushing NY;
..         ...       ...                                              ...
271 2014-09-25  12:00 PM  907 59 St., BK NY; ST: W66 St./Broadway, NY NY;
272 2014-09-26  04:00 PM                              20 West St., NY NY;
273 2014-09-27  05:00 AM                       474 Sackett Street, BK NY;
274 2014-09-27  08:00 AM                       474 Sackett Street, BK NY;
275 2014-09-28  09:00 PM                               152 7 Ave., BK NY;

[276 rows x 3 columns]
             DATE         TIME  \
0      2014-07-01  12:02:00 AM
1      2014-07-01  12:02:00 AM
2      2014-07-01  12:03:00 AM
3      2014-07-01  12:07:00 AM
4      2014-07-01  12:08:00 AM
...           ...          ...
166764 2014-09-30  11:52:00 PM
166765 2014-09-30  11:53:00 PM
166766 2014-09-30  11:56:00 PM
166767 2014-09-30  11:58:00 PM
166768 2014-09-30  11:59:00 PM

                                               PU_ADDRESS
0                           5360 Broadway Kingsbridge, BX
1                                        546 Isham St NYC
2                                   234 Bradhurst Ave NYC
3                                99 Marble Hill Ave Bronx
4                                   120 Vermilyea Ave NYC
...                                                   ...
166764  LINCOLN HOSPITAL MAIN 234 E 149th St Cortlandt...
166765                           la bodega 2051 8 Ave NYC
166766                     hess gas station  nw 9 Ave NYC
166767        stop & shop supermarket 5716 Broadway Bronx
166768                        579 Fort Washington Ave NYC

[166769 rows x 3 columns]
             DATE         TIME                            PU_ADDRESS
0      2014-07-01  12:00:00 AM           2976 Marion Ave Fordham, BX
1      2014-07-01  12:01:00 AM     780 Grand Concourse Cortlandt, BX
2      2014-07-01  12:01:00 AM         105 Elliot Pl High Bridge, BX
3      2014-07-01  12:03:00 AM                   2825 Webb Ave Bronx
4      2014-07-01  12:04:00 AM     1878 Cedar Ave Morris Heights, BX
...           ...          ...                                   ...
151920 2014-09-30  11:54:00 PM     2247 Grand Ave Morris Heights, BX
151921 2014-09-30  11:55:00 PM                  320 Morris Ave Bronx
151922 2014-09-30  11:55:00 PM   3105 Decatur Ave Williamsbridge, BX
151923 2014-09-30  11:58:00 PM       2125 Cruger Ave Parkchester, BX
151924 2014-09-30  11:58:00 PM    2401 Cruger Ave Williamsbridge, BX

[151925 rows x 3 columns]
             DATE         TIME  \
0      2014-07-01  12:00:00 AM
1      2014-07-01  12:00:00 AM
2      2014-07-01  12:00:00 AM
3      2014-07-01  12:02:00 AM
4      2014-07-01  12:02:00 AM
...           ...          ...
320636 2014-09-30  11:59:00 PM
320637 2014-09-30  11:59:00 PM
320638 2014-09-30  11:59:00 PM
320639 2014-09-30  11:59:00 PM
320640 2014-09-30  11:59:00 PM

                                               PU_ADDRESS
0                             2557 Marion Ave Fordham, BX
1                  45 E Mosholu Pkwy N Williamsbridge, BX
2                           458 E 143rd St Mott Haven, BX
3                 MINIVAN SUV 2557 Marion Ave Fordham, BX
4                       1117 Westchester Ave Foxhurst, BX
...                                                   ...
320636              2420 Williamsbridge Rd Baychester, BX
320637  2260 Washington Avenue, Bronx, NY, United  226...
320638                   1009 Sackett Ave Parkchester, BX
320639                          3163 Villa Ave Jerome, BX
320640  1457 Pelham Pkwy N, Bronx, NY 10469 1457 Pelha...

[320641 rows x 3 columns]
             DATE            TIME                        PU_ADDRESS
0      2014-07-01      20:27           622 THIRD AV
1      2014-07-01      21:04            E 77TH ST
2      2014-07-01      22:20           67 WEST PALISADES BLVD
3      2014-07-01      12:28           130 MIDDLE NECK RD
4      2014-07-01      16:45           36 E 31ST ST
...           ...             ...                               ...
127691 2014-09-29      13:15           370 7th AVE
127692 2014-09-29      15:40           1 STATE ST PZ
127693 2014-09-29      20:07           730 5TH AVE
127694 2014-09-29      22:48           30 ROCKEFELLER PZ
127695 2014-09-29      16:00           904 LEXINGTON AV

[127696 rows x 3 columns]

In [13]:
# P: To display only one data frame
uber_dict["Federal"].head(16)

         DATE      TIME                                  PU_ADDRESS
0  2014-07-01  07:15 AM  Brooklyn Museum, 200 Eastern Pkwy., BK NY;
1  2014-07-01  07:30 AM              33 Robert Dr., Short Hills NJ;
2  2014-07-01  08:00 AM                    60 Glenmore Ave., BK NY;
3  2014-07-01  09:00 AM                     128 East 31 St., BK NY;
4  2014-07-01  09:30 AM                139-39 35 Ave., Flushing NY;
5  2014-07-01  12:00 PM                          545 17 St., BK NY;
6  2014-07-01  12:30 PM                    127 Guernsey St., BK NY;
7  2014-07-01  01:00 PM                   657 St Marks Ave., BK NY;
8  2014-07-01  02:30 PM                       1611 47th St., BK NY;
9  2014-07-01  02:45 PM                     364 87th Street, BK NY;
10 2014-07-01  08:00 PM                   35-36 32 St., Astoria NY;
11 2014-07-02  03:30 AM                  862 East 21 Street, BK NY;
12 2014-07-02  02:00 PM                    1539 71st Street, BK NY;
13 2014-07-02  03:00 PM                     208 Elmwood ave, BK NY;
14 2014-07-02  08:45 PM                           543 1 St., BK NY;
15 2014-07-03  05:00 AM                 513 Montgomery StreetBK NY;

In [14]:
# P: Method to datetime format the column date
# uber_dict["Diplo"]["Date"] = pd.to_datetime(uber_dict["Diplo"]["Date"])

# P: Grouping by Date (only the data frane "Diplo")
# uber_dict["Diplo"].groupby("Date").count()

In [15]:
# Perform API Calls???? Find an API to call?

In [16]:
# Review data sets
# Identify columns to keep
# Identify column/columns to merge on

## Data Cleaning

In [17]:
# Delete unwanted columns
# any null values/duplicates
# Split date and time - investigate split methods
# convert kelvin to centigrade
# binning weather description
# any formatting / ensure numbers are stored as integers

In [18]:
# Merge data sets

In [19]:
# Create dataframes for analysis

## Data analysis
Plotting the Data.

Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
Save the plotted figures as .pngs.

##### Review matlibplot for other more funky styles of graphs other than pie- bar- and scatter????

These are just suggestions below:

In [20]:
# rides vs time/date

# Template for scatter plot below

# x_values = xxxx_df['date']
# y_values = xxxxx_df['rides'].value_counts()
# plt.scatter(x_values,y_values, 
#             s=50,
#             marker="D",
#             color="fuchsia", 
#             edgecolors="black")

# plt.xlabel('date')
# plt.ylabel('time')
# # plt.ylim(xx, xx)
# # plt.xlim(-xx,xx)
# plt.grid(which='major', linestyle='-')
# plt.grid(which='minor', linestyle=':')
# plt.title("Number of rides vs date")
# plt.xlabel("date")
# plt.ylabel("Number of rides")
# plt.show()

In [21]:
# template for bar chart below
# Set the X axis for the bar chart
# x_axis = xxxxx_df["Date"].value_counts().index
# # Set the Y axis for bar chart
# y_axis =xxxx_df["rides"].value_counts()
# plt.bar(x_axis,y_axis, color=(0.15, 0.15, 1.0, 1.0),  edgecolor='black')
# plt.xlabel("date")
# plt.ylabel("Number of rides")
# plt.title("Number of rides vs date")
# plt.xticks(x_axis, rotation=90)
# plt.show()

In [22]:
# rides vs time of day

In [23]:
# rides vs day in week

In [24]:
# rides on weekdays vs weekends

In [25]:
# any other plots of the uber data

In [26]:
# plots of the weather data

In [27]:
# temp vs time/date

In [28]:
# humidity vs time/date

In [29]:
# temperature and hunidity vs time of day

In [30]:
# correlation of temp & humidity

In [31]:
# Temp vs rides

In [32]:
# humidity vs rides

In [33]:
# weather description vs uber rides

# Conclusions and observations