# Project Title: Uber Rides and weather

### Team: Pablo Crespo, Victoria Wise, Trushil Patel, Steve Moss (Group 5)

## Project Description: 

#    - If weather plays an impact on Uber Rides in New York 
    
### Research Questions: 

1)  What are some findings on the commuter habits   

2)  Does weather impact on number of Uber Rides request  

3)  Time of the day that has the most Uber Rides request 

4)  Time of the week that has the most Uber Rides reques

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import scipy.stats as st

# Import API key??

## Data compilation

In [2]:
# Read in CSV files  and Create dataframe(s)
# airport_df = pd.read_csv('../Resources/Airport_Output.csv')
# Find and reference Input csv File from Weather folder
City_Attrib = "Weather/city_attributes.csv"
City_Hum = "Weather/humidity.csv"
City_Temp = "Weather/temperature.csv"
City_Wdesc = "Weather/weather_description.csv"
City_WinSpe = "Weather/wind_speed.csv"


# create dataframe
City_Attrib_df = pd.read_csv(City_Attrib)
City_Hum_df = pd.read_csv(City_Hum)
City_Temp_df = pd.read_csv(City_Temp)
City_Wdesc_df = pd.read_csv(City_Wdesc)
City_WinSpe_df = pd.read_csv(City_WinSpe)
City_Temp_df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,1/10/2012 12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
1,1/10/2012 13:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2,1/10/2012 14:00,284.629041,282.083252,289.474993,281.797217,291.868185,291.533501,293.403141,296.608509,285.154558,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
3,1/10/2012 15:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,285.756824,288.326940,285.847789,287.231672,307.391513,304.281841,310.411539,304.4,304.4,303.5
4,1/10/2012 16:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [3]:
# Just selecting data for NY
NY_Temp_df=pd.DataFrame(City_Temp_df, columns=["datetime","New York"])
NY_Temp_df

               datetime    New York
0       1/10/2012 12:00         NaN
1       1/10/2012 13:00  288.220000
2       1/10/2012 14:00  288.247676
3       1/10/2012 15:00  288.326940
4       1/10/2012 16:00  288.406203
...                 ...         ...
45248  29/11/2017 20:00         NaN
45249  29/11/2017 21:00         NaN
45250  29/11/2017 22:00         NaN
45251  29/11/2017 23:00         NaN
45252   30/11/2017 0:00         NaN

[45253 rows x 2 columns]

In [4]:
NY_Temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  45253 non-null  object
 1   New York  44460 non-null  float64
dtypes: float64(1), object(1)
memory usage: 707.2+ KB

In [ ]:
# Breaks down here - just selecting time period of interest

In [ ]:
NY_TempDate=NY_Temp_df.loc[(NY_Temp_df["datetime"]>= 4/1/2014) &
                           (NY_Temp_df["datetime"]< 8/30/2015)
                          ]
NY_TempDate

In [ ]:
# Find and reference Input csv File from Uber folder
Uber_XXX = "Uber/Uberxxxxx.csv"
Uber_XXX = "Uber/Uberxxxxx.csv"
Uber_XXX = "Uber/Uberxxxxx.csv"
Uber_XXX = "Uber/Uberxxxxx.csv"

In [ ]:
# Perform API Calls???? Find an API to call?

In [ ]:
# Review data sets
# Identify columns to keep
# Identify column/columns to merge on

## Data Cleaning

In [ ]:
# Delete unwanted columns
# any null values/duplicates
# Split date and time - investigate split methods
# convert kelvin to centigrade
# binning weather description
# any formatting / ensure numbers are stored as integers

In [ ]:
# Merge data sets

In [ ]:
# Create dataframes for analysis

## Data analysis
Plotting the Data.

Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
Save the plotted figures as .pngs.

##### Review matlibplot for other more funky styles of graphs other than pie- bar- and scatter????

These are just suggestions below:

In [ ]:
# rides vs time/date

# Template for scatter plot below

x_values = xxxx_df['date']
y_values = xxxxx_df['rides'].value_counts()
plt.scatter(x_values,y_values, 
            s=50,
            marker="D",
            color="fuchsia", 
            edgecolors="black")

plt.xlabel('date')
plt.ylabel('time')
# plt.ylim(xx, xx)
# plt.xlim(-xx,xx)
plt.grid(which='major', linestyle='-')
plt.grid(which='minor', linestyle=':')
plt.title("Number of rides vs date")
plt.xlabel("date")
plt.ylabel("Number of rides")
plt.show()

In [ ]:
# template for bar chart below
# Set the X axis for the bar chart
x_axis = xxxxx_df["Date"].value_counts().index
# Set the Y axis for bar chart
y_axis =xxxx_df["rides"].value_counts()
plt.bar(x_axis,y_axis, color=(0.15, 0.15, 1.0, 1.0),  edgecolor='black')
plt.xlabel("date")
plt.ylabel("Number of rides")
plt.title("Number of rides vs date")
plt.xticks(x_axis, rotation=90)
plt.show()

In [ ]:
# rides vs time of day

In [ ]:
# rides vs day in week

In [ ]:
# rides on weekdays vs weekends

In [ ]:
# any other plots of the uber data

In [ ]:
# plots of the weather data

In [ ]:
# temp vs time/date

In [ ]:
# humidity vs time/date

In [ ]:
# temperature and hunidity vs time of day

In [ ]:
# correlation of temp & humidity

In [ ]:
# Temp vs rides

In [ ]:
# humidity vs rides

In [ ]:
# weather description vs uber rides

# Conclusions and observations